php_flag register_globals 0
Options -Indexes 
RewriteEngine On
RewriteRule ^([a-z]+)/([a-z]+)/([0-9]+)(.*)$ index.php?action=$1&$2=$3
RewriteRule ^page/([0-9]+)$ index.php?page=$1
RewriteRule ^([a-z]+)$ index.php?action=$1
